@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
}

/* configurações gerais */
body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
    transition: font-size 0.3s ease-out, font-weight 0.5s ease-out;
}
li{
    list-style-type: none;
}

/* cabeçalho */
.menu{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modelo-grande{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 150px;
    max-height: 60px;
    padding: 3px 10px;
}
.imgLogo{
    max-height: 100%;
}
.nav{
    display: none;
}
.botaoMenu{
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 7px;
}

/* menu mobile */
.celular{
    background-color: rgba(16, 16, 15, 0.805);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 10;
}
.open{
    display: none;
}
/* '!important' também funcionaria*/
.navListaDoBotao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navListaDoBotao li{
    margin: 20px 0px;
    cursor: pointer;
}
.navListaDoBotao li a{
    font-size: 30px;
    font-weight: 300;
}

/* corpo do site */
.banner{
    width: 100%;
    min-height: 70vh;
}
.banner img{
    width: 100%;
    height: 100%;
}

.trailer{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.videoTrailer{
    flex: 1 1 200px;
    width: 90%;
    margin-bottom: 50px;
    box-shadow: 0px 2px 7px #2e2c2c;
}
.trailer p{
    color: white;
    width: 300px;
    font-size: 20px;
    margin: 20px 0px;
}
.bttCompra{
    padding: 1.5rem;
    width: 14rem;
    border-radius: .5rem;
    margin-top: 40px;
    border: none;
    background-color: red;
    color: white;
    transition: bakcground-color 1s ease-in-out;
}
.bttCompra:active{
    background-color: rgb(163, 9, 9);
}

/* banners conjunto */
.catalogo{
    width: 100%;
    min-height: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerF{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.bannerF p{
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 60px;
    background-color: rgba(58, 55, 55, 0.5);
}
.pView, .pMini{
    display: none;
}
.bannerC{
    width: 87%;
    margin: 5px 0px;
    border-radius: .5rem;
    transition: scale 1s ease-out, opacity 0.7s ease-out ;
}
.bannerCanimation{
    scale: 95%;
    opacity: 0.7;
}

.rodape{
    /* background-color: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.rodape p{
    color: white;
    margin: 40px 0px;
}
.linkPort{
    color: rgb(255, 128, 0);
}

        /* configurações com tela superior a 480px */

@media(min-width: 480px) /*and (max-width: 768px)*/{
    .menu{
        background-color: black;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .modelo-grande{
        background-color: black;
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
    }
    .logo{
        width: 150px;
        height: 100%;
        padding: 3px 10px 3px 5vw;
    }
    .nav{
        width: 100%;
        height: 100%;
        display: block;
    }
    .navLista{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        height: 100%;
        font-family: "Cabin", sans-serif;
        font-weight: 700;
        font-size: 18px;
    }
    .navLista a:hover{
        font-size: 20px;
        font-weight: 700;
    }

    .botaoMenu, .menuDoBotao{
        display: none;
    }
    .celular{
        display: none;
    }

    /* corpo do projeto */


    .banner{
        width: 100%;
        height: 90vh;
    }
    .banner img{
        content: url('extra/imagens/modified/banner-4-x-4.jpeg');
        max-width: 100%;
        max-height: 100%;
    }

        /* sessão do trailer */

    .trailer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 70vh;
    }
    .videoTrailer{
        width: 90%;
        margin: 100px 0 50px 0;
        box-shadow: 5px 5px 12px rgb(34, 33, 33);
    }
    .trailer p{
        color: white;
        width: 800px;
        font-size: 22px;
        margin-bottom: 100px;
    }
    .bttCompra{
        width: 18rem;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 30px;
        transition: padding 0.5s ease-out, width 0.5s ease-out, font-size 0.5s ease-out;
    }
    .bttCompra:hover{
        padding: 1.6rem;
        width: 18.5rem;
        background-color: rgb(163, 9, 9) ;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
    }


        /* banners conjunto */
    .catalogo{
        display: flex;
        flex-direction: row;
        min-height: unset; /*define que o min-height 1900px não vai ser o padrão pra qualquer tamanho de tela, pois ele tem mais peso fora do @media*/
        margin-top: 100px;
    }
    .bannerF{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
    }
    .bannerF p{
        background-color: unset;
        align-self: flex-end;
        position: absolute;
        color: white;
        font-size: 10px;
        transition: font-size 0.5s ease-out, font-weight 0.5s ease-out;
    }
    .pMini{
        display: block;
    }
    .pView{
        display: none;
    }
    .bannerC{
        width: 90%;
        margin: 5px 0px;
        border-radius: 0.3rem;
        transition: scale 0.7s ease-out, opacity 0.7s ease-out;
    }
    .bannerF:hover img{
        scale: 97%;
        opacity: 0.7;
    }
    .bannerF:hover .pMini{
        font-size: 12px;
        font-weight: 700;
    }
}

@media (min-width: 768px){
    .banner img{
        content: url(extra/imagens/banner-lancamento.webp);
    }
}
